body {
    background-color: rgb(90, 122, 80);
    font-family: 'Indie Flower', cursive;
    color: white;
}

h1 {
    margin-top: 60px;
    font-size: 3rem;
    text-align: center;
}

p {
    font-size: 1.6rem;
    line-height: 1.7;
    font-family: 'Lato', sans-serif;
    max-width: 80vw;
    margin: 0 auto;
}

p.link {
    text-align: right;
}

a:link, a:hover, a:visited, a:focus {
    font-size: 1.2rem;
    color: white;
}


.image {
    width: 80vw;
    height: 30vh;
    margin: 30px auto;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    border: 2px solid white;
}

@media (min-width: 1200px) {
    .image {
        height: 66vh;
    }
}